In [9]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\manje\anaconda3\envs\manjesh\lib\site-packages (1.6.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.19.5 in c:\users\manje\anaconda3\envs\manjesh\lib\site-packages (from scikit-learn) (2.1.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\manje\anaconda3\envs\manjesh\lib\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\manje\anaconda3\envs\manjesh\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\manje\anaconda3\envs\manjesh\lib\site-packages (from scikit-learn) (3.5.0)

In [10]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [11]:
df=pd.read_csv("C:\\Users\\manje\\OneDrive\\Desktop\\pradhanmatri\\housing_prices.csv") 
df.head()

   AREA  FLOOR  ROOM CODE  PRICE
0  1000      7     2    B   5618
1  1030      7     1    A   5201
2  1060      1     1    A   4779
3  1090      6     1    A   5425
4  1120      0     2    B   5657

In [17]:
x=df.iloc[:,:3].values
y=df.iloc[:,4].values

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=100)

In [18]:

mlr_model= LinearRegression(fit_intercept=True)
mlr_model.fit(x_train,y_train)
print(mlr_model.intercept_) 
print(mlr_model.coef_)

-3106.412792003408
[   4.68576316   71.78274093 1894.45529322]

In [16]:
print(mlr_model.score(x_train,y_train))
print(mlr_model.score(x_test,y_test))

0.9646204930750825
0.8606154687481634